body
{
    padding: 0;
    margin: 0;
}
#wrongWay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: white;
    background-image: url('../images/turn.png');
    background-repeat: no-repeat;
    background-position: center center;
    display: none;
    pointer-events: none;
}